@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}
@media (max-width: 767.98px) {
  .sidebar {
      top: 11.5rem;
      padding: 0;
  }
}      
.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}
@media (min-width: 767.98px) {
  .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
  }
}
.sidebar .nav-link {
  color: #333;
}
.sidebar .nav-link.active {
  color: #0d6efd;
}

/* Hide the increment and decrement buttons in number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.breadcrumb {
  background-color: transparent;
}

.img-fluid{
  width: 50px; height: 50px; object-fit: cover
}

